In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from datetime import datetime

In [2]:
df = pd.read_csv('full_paired-10mins.csv')

In [3]:
df[:2]

,Unnamed: 0,window,sum(num_people),sum(num_groups),sum(sum_velocities),sum(num_velocities),avg(num_people),x_centers,y_centers
0,0,"Row(start=datetime.datetime(2019, 4, 10, 0, 20...",1,1,0.000,0,0.001389,[0.449],[0.335]
1,1,"Row(start=datetime.datetime(2019, 4, 10, 0, 30...",7,7,0.014,1,0.005833,"[0.709, 0.691, 0.718, 0.718, 0.455, 0.421, 0.812]","[0.339, 0.362, 0.459, 0.466, 0.731, 0.764, 0.56]"

## Get averages from df

In [4]:
def get_averages(df):
    df['avg_group_size'] = df['sum(num_people)'] / df['sum(num_groups)']
    df['avg_velocity'] = df['sum(sum_velocities)'] / df['sum(num_velocities)']
    df.rename(columns={'avg(num_people)': 'avg_num_people', 'window': 'start',
                       'sum(num_people)': 'sum_num_people', 
                       'sum(num_groups)': 'sum_num_groups',
                       'sum(sum_velocities)': 'sum_window_velocities',
                       'sum(num_velocities)': 'sum_num_velocities'}, 
              inplace=True)
    df.fillna(0., inplace=True)
#     df.drop(columns=['Unnamed: 0', 'sum(num_people)', 'sum(num_groups)',
#                      'sum(sum_velocities)', 'sum(num_velocities)'],
#             inplace=True)
    return df

In [5]:
df = get_averages(df)

In [6]:
df.columns

Index(['Unnamed: 0', 'start', 'sum_num_people', 'sum_num_groups',
       'sum_window_velocities', 'sum_num_velocities', 'avg_num_people',
       'x_centers', 'y_centers', 'avg_group_size', 'avg_velocity'],
      dtype='object')

In [7]:
df[:2]

,Unnamed: 0,start,sum_num_people,sum_num_groups,sum_window_velocities,sum_num_velocities,avg_num_people,x_centers,y_centers,avg_group_size,avg_velocity
0,0,"Row(start=datetime.datetime(2019, 4, 10, 0, 20...",1,1,0.000,0,0.001389,[0.449],[0.335],1.0,0.000
1,1,"Row(start=datetime.datetime(2019, 4, 10, 0, 30...",7,7,0.014,1,0.005833,"[0.709, 0.691, 0.718, 0.718, 0.455, 0.421, 0.812]","[0.339, 0.362, 0.459, 0.466, 0.731, 0.764, 0.56]",1.0,0.014

## Remove

In [8]:
def filter_window_row(row):
    start, _ = row[4:-1].replace('start=', '').replace('end=', '').split(', datetime.')
    start = start.replace("datetime.", "")
    return eval(start)

In [9]:
df['start'] = df.start.map(filter_window_row)
df.index.name = 'index'

In [10]:
df[:2]

,Unnamed: 0,start,sum_num_people,sum_num_groups,sum_window_velocities,sum_num_velocities,avg_num_people,x_centers,y_centers,avg_group_size,avg_velocity
index,,,,,,,,,,,
0,0,2019-04-10 00:20:00,1,1,0.000,0,0.001389,[0.449],[0.335],1.0,0.000
1,1,2019-04-10 00:30:00,7,7,0.014,1,0.005833,"[0.709, 0.691, 0.718, 0.718, 0.455, 0.421, 0.812]","[0.339, 0.362, 0.459, 0.466, 0.731, 0.764, 0.56]",1.0,0.014

## Aggregate into 24 hour period (i.e. drop dates and convert to time only)

In [11]:
df['trimmed'] = pd.Series([val.time() for val in df['start']])

In [12]:
df[:2]

,Unnamed: 0,start,sum_num_people,sum_num_groups,sum_window_velocities,sum_num_velocities,avg_num_people,x_centers,y_centers,avg_group_size,avg_velocity,trimmed
index,,,,,,,,,,,,
0,0,2019-04-10 00:20:00,1,1,0.000,0,0.001389,[0.449],[0.335],1.0,0.000,00:20:00
1,1,2019-04-10 00:30:00,7,7,0.014,1,0.005833,"[0.709, 0.691, 0.718, 0.718, 0.455, 0.421, 0.812]","[0.339, 0.362, 0.459, 0.466, 0.731, 0.764, 0.56]",1.0,0.014,00:30:00

In [13]:
grouped = df.groupby([df.start.dt.hour])

In [14]:
summed_df = grouped.sum().drop(columns=['avg_group_size', 'avg_velocity', 'avg_num_people'])

In [15]:
summed_df

,Unnamed: 0,sum_num_people,sum_num_groups,sum_window_velocities,sum_num_velocities
start,,,,,
0,9028,2067,1460,26.660868,1290
1,5714,416,304,4.725587,232
2,7440,117,108,0.968519,57
3,1819,46,27,0.528654,23
4,6043,114,107,0.580760,69
5,8262,1961,1479,14.377448,1483
6,6194,15926,12400,322.850734,11489
7,8139,45123,30420,1588.744794,31745
8,9068,131487,76661,7332.993645,101682
9,5972,147333,74178,7927.323497,118327
10,5149,234043,85505,13255.337724,200570
11,10155,421257,156761,24718.842676,361367
12,8389,343345,152106,21634.735096,290958
13,9313,392075,162919,25674.661130,334872
14,11139,455450,193741,28040.802520,389718
15,12364,472964,197999,26086.866958,403034
16,12018,487460,209623,28033.107425,414944
17,10071,394842,170567,23247.811726,333694
18,10401,360489,150870,20612.304021,304857
19,12951,199069,95858,10525.206579,160566
20,11449,9148,6209,155.242265,5040
21,10010,7173,4821,129.027233,3994
22,6775,6621,4517,115.468861,4137
23,7257,3373,1933,36.022501,2307

In [16]:
# Window size in minutes
window_size = 10
windows_per_hour = 60 / window_size
fps = 2
seconds_in_hour = 3600
frames_per_hour = seconds_in_hour * fps

In [17]:
summed_df['avg_group_size'] = summed_df['sum_num_people'] / summed_df['sum_num_groups']

In [18]:
summed_df['avg_velocity'] = summed_df['sum_window_velocities'] / summed_df['sum_num_velocities']

In [19]:
# Get average number of people per frame
# First, get average within 10-minute window 
# Convert to hour by multiplying by 6
# Then for each hour, there are 3600 seconds, and 3600*2 = frames
summed_df['avg_num_people'] = grouped.sum_num_people.mean() * windows_per_hour / frames_per_hour

In [20]:
summed_df

,Unnamed: 0,sum_num_people,sum_num_groups,sum_window_velocities,sum_num_velocities,avg_group_size,avg_velocity,avg_num_people
start,,,,,,,,
0,9028,2067,1460,26.660868,1290,1.415753,0.020667,0.057417
1,5714,416,304,4.725587,232,1.368421,0.020369,0.015072
2,7440,117,108,0.968519,57,1.083333,0.016992,0.003750
3,1819,46,27,0.528654,23,1.703704,0.022985,0.002738
4,6043,114,107,0.580760,69,1.065421,0.008417,0.004130
5,8262,1961,1479,14.377448,1483,1.325896,0.009695,0.060525
6,6194,15926,12400,322.850734,11489,1.284355,0.028101,0.603258
7,8139,45123,30420,1588.744794,31745,1.483333,0.050047,1.446250
8,9068,131487,76661,7332.993645,101682,1.715175,0.072117,3.913304
9,5972,147333,74178,7927.323497,118327,1.986209,0.066995,5.580795
10,5149,234043,85505,13255.337724,200570,2.737185,0.066088,10.265044
11,10155,421257,156761,24718.842676,361367,2.687256,0.068404,12.105086
12,8389,343345,152106,21634.735096,290958,2.257275,0.074357,11.444833
13,9313,392075,162919,25674.661130,334872,2.406564,0.076670,12.566506
14,11139,455450,193741,28040.802520,389718,2.350819,0.071952,12.651389
15,12364,472964,197999,26086.866958,403034,2.388719,0.064726,10.948241
16,12018,487460,209623,28033.107425,414944,2.325413,0.067559,10.978829
17,10071,394842,170567,23247.811726,333694,2.314879,0.069668,10.614032
18,10401,360489,150870,20612.304021,304857,2.389401,0.067613,10.358879
19,12951,199069,95858,10525.206579,160566,2.076707,0.065551,5.026995
20,11449,9148,6209,155.242265,5040,1.473345,0.030802,0.245914
21,10010,7173,4821,129.027233,3994,1.487866,0.032305,0.206121
22,6775,6621,4517,115.468861,4137,1.465796,0.027911,0.250795
23,7257,3373,1933,36.022501,2307,1.744956,0.015614,0.122210

In [21]:
summed_df.drop(columns=['Unnamed: 0', 'sum_num_people', 'sum_num_groups', 
                        'sum_window_velocities', 'sum_num_velocities'],
               inplace=True)

In [22]:
data = np.array([summed_df['avg_group_size'], summed_df['avg_velocity'], summed_df['avg_num_people']])

In [23]:
np.savez('frame_averages.npz', data=data)

In [24]:
loaded_data = np.load('frame_averages.npz')['data']

In [25]:
loaded_data

array([[1.41575342e+00, 1.36842105e+00, 1.08333333e+00, 1.70370370e+00,
        1.06542056e+00, 1.32589588e+00, 1.28435484e+00, 1.48333333e+00,
        1.71517460e+00, 1.98620885e+00, 2.73718496e+00, 2.68725640e+00,
        2.25727453e+00, 2.40656400e+00, 2.35081888e+00, 2.38871913e+00,
        2.32541276e+00, 2.31487920e+00, 2.38940147e+00, 2.07670721e+00,
        1.47334514e+00, 1.48786559e+00, 1.46579588e+00, 1.74495603e+00],
       [2.06673397e-02, 2.03689109e-02, 1.69915671e-02, 2.29849592e-02,
        8.41680442e-03, 9.69484018e-03, 2.81008559e-02, 5.00470876e-02,
        7.21169297e-02, 6.69950518e-02, 6.60883369e-02, 6.84037078e-02,
        7.43569006e-02, 7.66700743e-02, 7.19515201e-02, 6.47262190e-02,
        6.75587728e-02, 6.96680543e-02, 6.76130252e-02, 6.55506557e-02,
        3.08020367e-02, 3.23052660e-02, 2.79112548e-02, 1.56144346e-02],
       [5.74166667e-02, 1.50724638e-02, 3.75000000e-03, 2.73809524e-03,
        4.13043478e-03, 6.05246914e-02, 6.03257576e-01, 1.44625000e+00,
        3.91330357e+00, 5.58079545e+00, 1.02650439e+01, 1.21050862e+01,
        1.14448333e+01, 1.25665064e+01, 1.26513889e+01, 1.09482407e+01,
        1.09788288e+01, 1.06140323e+01, 1.03588793e+01, 5.02699495e+00,
        2.45913978e-01, 2.06120690e-01, 2.50795455e-01, 1.22210145e-01]])

## Display per-frame averages for comparison during streaming for each hour (start)

In [26]:
summed_df

       avg_group_size  avg_velocity  avg_num_people
start
0            1.415753      0.020667        0.057417
1            1.368421      0.020369        0.015072
2            1.083333      0.016992        0.003750
3            1.703704      0.022985        0.002738
4            1.065421      0.008417        0.004130
5            1.325896      0.009695        0.060525
6            1.284355      0.028101        0.603258
7            1.483333      0.050047        1.446250
8            1.715175      0.072117        3.913304
9            1.986209      0.066995        5.580795
10           2.737185      0.066088       10.265044
11           2.687256      0.068404       12.105086
12           2.257275      0.074357       11.444833
13           2.406564      0.076670       12.566506
14           2.350819      0.071952       12.651389
15           2.388719      0.064726       10.948241
16           2.325413      0.067559       10.978829
17           2.314879      0.069668       10.614032
18           2.389401      0.067613       10.358879
19           2.076707      0.065551        5.026995
20           1.473345      0.030802        0.245914
21           1.487866      0.032305        0.206121
22           1.465796      0.027911        0.250795
23           1.744956      0.015614        0.122210